.app {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: background 2s;
  background: #ff8545;

  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    height: 54px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    z-index: 1;
    box-sizing: border-box;

    &__icon {
      width: 22px;
      padding-right: 8px;
    }
  }

  &__gradient-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background: linear-gradient(grey, rgba(0, 0, 0, 0));
    transition: all 2s;
    opacity: 0;
  }

  &--mostly-sunny {
    background: $sunny;
  }

  &--partly-sunny {
    background: $sunny;
  }

  &--sunny {
    background: $sunny;
  }

  &--cloudy {
    background: $sunny;

    .app__gradient-overlay {
      opacity: 1;
      background: linear-gradient(rgba(160, 157, 157, 0.8), rgba(0, 0, 0, 0));
    }
  }

  &--mostly-cloudy {
    background: rgb(51, 118, 160);


    .app__gradient-overlay {
      opacity: 1;
      background: linear-gradient(#5f5959, rgba(0, 0, 0, 0));
    }
  }

  &--partly-cloudy {
    background: $sunny;

    .app__gradient-overlay {
      opacity: 1;
      background: linear-gradient(rgb(189, 188, 188), rgba(0, 0, 0, 0))
    }

  }

  &--showers,
  &--rain {
    background: #7483d4;
  }

  &--clear {
    background: #35b0ff;
  }

  &--breezy {
    background: #737373;
  }

}

.weather {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
  max-width: 950px;

  &__loader {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-transition: rotate(3600deg);
    max-width: 100px;
  }

  &__logo {
    max-width: 130px;
    margin-bottom: 32px;
  }

  &__form {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;

    &__input {
      border: none;
      background: none;
      color: white;
      line-height: 44px;
      outline: none;
      font-weight: 300;
      max-width: 170px;
      font-size: 16px;
      box-sizing: border-box;
      transition: all .4s;
      border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }

    &__input::placeholder {
      color: rgba(255, 255, 255, 0.4);
    }

    &__form {
      align-items: center;
      display: flex;
      position: relative;
      margin-right: 12px;
    }

    &__button--submit {
      position: absolute;
      right: 0;
      padding: 0;
    }

  }

  &__header {
    &__location {
      font-size: 40px;
      margin-bottom: 16px;
    }

    &__text {
      margin-bottom: 8px;
    }
  }

  &__error {
    &__icon {
      width: 300px;
    }

    &__message {
      color: white;
      max-width: 550px;
    }
  }
}

.forecast {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 40px;

  &__item {
    text-align: center;
    padding: 0 20px;

    &__row {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    &__day {
      margin-bottom: 12px;
      font-size: 14px;
    }
  }
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}