html,
body,
#root,
.app {
  height: 100%;
  width: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

button {
  -webkit-appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  outline: none; }
  button i {
    transition: all .2s;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); }
  button:hover i {
    color: #484848 !important; }

.overflow-scroll {
  overflow: auto;
  width: 100%; }

/*# sourceMappingURL=Body.css.map */
