@import url("https://fonts.googleapis.com/css?family=Roboto");
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: background 2s;
  background: #ff8545; }
  .app .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    height: 54px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    z-index: 1;
    box-sizing: border-box; }
    .app .header__icon {
      width: 22px;
      padding-right: 8px; }
  .app__gradient-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background: linear-gradient(grey, transparent);
    transition: all 2s;
    opacity: 0; }
  .app--mostly-sunny {
    background: #54bcff; }
  .app--partly-sunny {
    background: #54bcff; }
  .app--sunny {
    background: #54bcff; }
  .app--cloudy {
    background: #54bcff; }
    .app--cloudy .app__gradient-overlay {
      opacity: 1;
      background: linear-gradient(rgba(160, 157, 157, 0.8), transparent); }
  .app--mostly-cloudy {
    background: #3376a0; }
    .app--mostly-cloudy .app__gradient-overlay {
      opacity: 1;
      background: linear-gradient(#5f5959, transparent); }
  .app--partly-cloudy {
    background: #54bcff; }
    .app--partly-cloudy .app__gradient-overlay {
      opacity: 1;
      background: linear-gradient(#bdbcbc, transparent); }
  .app--showers, .app--rain {
    background: #7483d4; }
  .app--clear {
    background: #35b0ff; }
  .app--breezy {
    background: #737373; }

.weather {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
  max-width: 950px; }
  .weather__loader {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-transition: rotate(3600deg);
    max-width: 100px; }
  .weather__logo {
    max-width: 130px;
    margin-bottom: 32px; }
  .weather__form {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1; }
    .weather__form__input {
      border: none;
      background: none;
      color: white;
      line-height: 44px;
      outline: none;
      font-weight: 300;
      max-width: 170px;
      font-size: 16px;
      box-sizing: border-box;
      transition: all .4s;
      border-bottom: 1px solid rgba(255, 255, 255, 0.4); }
    .weather__form__input::placeholder {
      color: rgba(255, 255, 255, 0.4); }
    .weather__form__form {
      align-items: center;
      display: flex;
      position: relative;
      margin-right: 12px; }
    .weather__form__button--submit {
      position: absolute;
      right: 0;
      padding: 0; }
  .weather__header__location {
    font-size: 40px;
    margin-bottom: 16px; }
  .weather__header__text {
    margin-bottom: 8px; }
  .weather__error__icon {
    width: 300px; }
  .weather__error__message {
    color: white;
    max-width: 550px; }

.forecast {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 40px; }
  .forecast__item {
    text-align: center;
    padding: 0 20px; }
    .forecast__item__row {
      display: flex;
      align-items: center;
      justify-content: space-around; }
    .forecast__item__day {
      margin-bottom: 12px;
      font-size: 14px; }

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
html,
body,
#root,
.app {
  height: 100%;
  width: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

button {
  -webkit-appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  outline: none; }
  button i {
    transition: all .2s;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); }
  button:hover i {
    color: #484848 !important; }

.overflow-scroll {
  overflow: auto;
  width: 100%; }

/*# sourceMappingURL=index.css.map */
